<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formdata</title>
</head>
<body>
    <center>

        <h1>displayin form data</h1>
        <!--
        <h1>{{name}}</h1>
        <h1>{{number}}</h1>
        <h1>{{url}}</h1>
        <h1>{{email}}</h1>
        <h1>{{gender}}</h1>
        <h1>{{courses}}</h1>
        <h1>{{check}}</h1>
        -->
        <h1>{{time}}</h1>
        <h1>{{date}}</h1>
        <h1>{{datetime}}</h1>
    </center>
    
</body>
</html>